@import "~bootstrap/scss/bootstrap";
@import './sass/line';
.modal {
    display: block;
    background-color: #0000005f;
}

.img-bin {
    margin: 10px;
    img {
        height: 150px;
        width: auto;
    }
}